.banner {
  width:100%;

  background-size: cover;
  background-position: 30% 70%;
  height: 76vh;
  color: white;
  text-align: center;

  h1 {
  color: white;
  text-align: center;
  padding-top: 10vh;
  text-shadow: 1px 1px lightgrey;
  }

}


.home {
  background-image: asset-url('banner.jpg');
}
