.banner {
  background-size: cover;
  background-position: center;
  height: 85vh;
  color: white;
  text-align: center;

  h1 {
  color: white;
  text-align: center;
  padding-top: 28vh;
  text-shadow: 2px 2px lightgrey;
  }

}


.home {
  background-image: asset-url('banner.jpg');
}
